@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

:root {
    --webkit-color-white: white;
    --webkit-color-lightgreen: #7ca982;
    --webkit-color-darkgreen: #243e36;
    --webkit-color-darker-green: #1d322b;
    --webkit-color-gold: #c2a83e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    color: white;
}

a:hover {
    color: #c2a83e;
    border-color: #c2a83e;
}

.contact img {
    width: 60px;
    vertical-align: middle;
}

.projects img {
    width: 60px;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

body {
    background-color: var(--webkit-color-darkgreen);
    color: var(--webkit-color-white);
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

.title {
    font-size: 1.3rem;
}

.title > p {
    color: var(--webkit-color-gold);
    margin: 0;
}

h1 {
    color: var(--webkit-color-white);
    font-size: 1.7rem;
}

.title span {
    color: var(--webkit-color-lightgreen);
}

h2 {
    color: var(--webkit-color-gold);
}

.bg-custom {
    background-color: var(--webkit-color-darker-green);
}

header, main, footer {
    padding: 20px;
    margin-bottom: 20px;
}

.container-custom {
    width: 90%;
    margin: 0 auto;
}

/* Main */

.flex-section {
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 55%;
}

.about-img {
    width: 40%;
}

main p {
    margin-bottom: 15px;
}

section {
    margin-bottom: 300px;
}

main h2 {
    margin: 0 0 20px 0;
}

.contact > ul {
    display: flex;
    justify-content: space-around;
}


/* Footer */

footer {
    background-color: var(--webkit-color-darker-green);
    padding: 20px 0;
    margin: 0;
    text-align: center;
}
